@media (max-width: 1250px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 540px;
            column-gap: 20px;
        }
        &__skills {
            grid-template: repeat(2, minmax(110px, auto)) / repeat(2, 240px);
        }
        &__skill {
            &__item {
            grid-template-columns: 35px 190px;
            column-gap: 25px;
        }
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 740px;
    }
    .about {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 330px 360px;
            column-gap: 50px;
            row-gap: 30px;
        }
        &__subtitle {
            font-size: 30px;
        }
        &__photo {
            max-width: 330px;
            min-height: 600px;
        }
        &__skills {
            justify-items: center;
            margin-left: -10px;
            grid-template: repeat(2, minmax(90px, auto)) / 360px;
            grid-auto-rows: minmax(115px, auto);
            row-gap: 10px;
        }
        &__skill {
            &__subtitle {
                width: 160px;
            }

        }

    }
}
@media (max-width: 768px) {
    .container {
        width: 550px;
        padding: 0 15px;
    }
    .about {
        padding-top: 40px;
    &__wrapper {
            grid-template: 600px auto auto / auto;
        }
    &__photo {
        min-width: 520px;
    }
    &__subtitle {
        font-size: 24px;
    }
    &__descr {
        grid-column: unset;
        grid-row: unset;
        max-width: 520px;
    }
    &__skills, &__skill {
        padding-left: 10px;
        grid-column: unset;
        grid-row: unset;
        grid-template-rows: 100px;
    }
    &__skills {
        grid-template-columns: repeat(2, 200px);
        justify-content: space-around;
        column-gap: 23px;
    }
    &__skill {
        &__subtitle {
        width: 170px;    
        }
    }
    }
}
@media (max-width: 576px) {
    .container {
        width: 360px;
        padding: 0 5px;
    }
    .about {
        &__wrapper {
            grid-template: 1fr / 1fr;
        }
        &__photo {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
        &__skills {
            grid-template: repeat(3, minmax(100px, auto)) / 1fr;
        }
        &__text {
            max-width: 100%;
        }
    }
}

@media (max-width: 376px) {
    .container {
            width: 250px;
            padding: 0 5px;
        }
        .about {
            &__wrapper {
                grid-template: 1fr / 360px;
            }
            &__photo {
                width: 100px;
                object-fit: cover;
            }
    
            &__skills {
                grid-template: repeat(3, minmax(100px, auto)) / 1fr;
            }
    
            &__text {
                max-width: 900%;
            }
        }
}

