@media (max-width: 1250px) {
    .container {
        width: 950px;
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 585px;
            column-gap: 50px;
        }
        &__photo {
            width: 300px;
        }
    }
}