.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/promo/promo_main.jpg') no-repeat center center / cover; 
    padding-top: 206px;
    &__titles {
        margin-top: 10px;
        max-width: 532px;
    }
    &__title {
        margin-top: 20px;
    }
    &__btns {
        margin-top: 15px;
        display: flex;
        width: 248px;
        justify-content: space-between;
        align-items: center;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        @include before_circle;
        z-index: 2;
    }
    .btn {
        &:hover {
            width: 145px;
            height: 55px;
            box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.15);
            .title_fz14_promo {font-size: 15px;}
        }
    }

}