.skills {
    margin-top: 120px;
    &__title {
        position: relative;
        padding-left: 13px;
        @include before_circle;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }
    &__item {
        display: grid;
        grid-template-columns: 246px 35px;
        grid-template-rows: 46px 14px;
        justify-content:space-between;
    }
    &__line {
        width: 100%;
        height: 100%;
        background-color: grey;
        border-radius: 4px;
        grid-column: 1/3;
        &_orange {
            background-color: $main-color;
        }
    }
    span {
        display: block;
        height: 100%;
        background-color: $main-color;
        border-radius: 4px;
    }
}